body{
    background-color: #15202B;
}

.side{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: black;
    width: 330px;
    height: 100%;
    align-content: space-between;
    color: white;
    vertical-align: text-top;
    /* z-index: 3; */
}

.side img{
    height: 45px;
    width: 45px;
}
.spo{
    margin-left: auto;
    margin-bottom: auto;
    height: 50px;
}

.right{
    padding: 0%;
    margin: 0%;
    position: fixed;
    color: beige;
    
}

.right img{
    display: flex;
    justify-content: flex-start;
    height: 45px;
    width: 45px;
}

h1{
    align-items: center;
}